.navbar {
  width: 100%;
  background: #DEEBF8;
  color: #21222A;
}

.dark {
  background: #21222A;
  color: #DEEBF8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  display: flex;
  gap: 7px;
  align-items: center;
  padding: 31px 0;
}

.nav-brand img {
  width: 30px;
  height: 30px;
}

.brand-name h3 {
  color: #61DAFB;
  font-size: 22.253px;
  font-weight: 700;
  letter-spacing: -1.113px;
  margin: 0;
}

.nav-link h4 {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(./assets/Group.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
  background: white;
  color: #282D35;

}

.darkmain {
  background: #282D35;
  color: white;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 46px;
  padding: 57px 27px;
}

h1 {
  font-size: 39.06px;
  font-weight: 700;
  letter-spacing: -1.953px;
  margin: 0;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul li {
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
}

.project {
  font-size: 30px;
}

li::after {
  left: -30px;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #61DAFB;
  border-radius: 50%;
}

@media only screen and (max-width:768px) {
  .nav-link h4 {
    font-size: 14px;
    gap: 8px;
  }

  .project {
    font-size: 18px;
  }

  .brand-name h3 {
    font-size: 18.253px;
  }

  .nav-brand img {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: normal;
    margin: 0;
  }
}


.toggler {
  display: flex;
  align-items: center;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

.navbar.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

.navbar.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

.navbar.dark .toggler--light {
  color: #918E9B;
}

.d-none {
  opacity: .1;
}

.toggler--dark {
  color: #D5D4D8;
}

.navbar.dark .toggler-dark {
  color: #FFFFFF;
}

.navbar.dark .toggler--slider {
  justify-content: flex-end;
}